node_modules
barn
api/config
api/debug
**/*.log
npm-debug.*
deploy/docker/config
ui/config.js
ui/node_modules
.*.swn
.*.swo
.*.swp
api/config.js
*.jwt
npm-debug.log.*
perfsonar-psconfig-web-*.tar.gz
deploy/docker/pwa-admin/tmp/
deploy/docker/pwa-pub/tmp/
#MANIFEST-node_modules
#MANIFEST-ui-node_modules
