<div ng-controller="paramsAccordion">

    <accordion close-others="false">

        <accordion-group is-open="status.basicOpen">
            <accordion-heading>
                <h3>RabbitMQ Archive Parameters
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.basicOpen, 'glyphicon-chevron-right': !status.basicOpen}"></i>
            </h3>
            </accordion-heading>


            <div class="form-section">


<div class="form-group">
    <label for="test_interval" class="col-sm-2 control-label">URL *</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="text" string class="form-control" name="url" ng-disabled="!selected._canedit" ng-model="selected.data._url" required>
            Url: {{selected.data._url}}
            <!-- <div class="input-group-addon">URL</div> -->
        </div>
        <p class="help-block">
            URL of RabbitMQ instance
            <code>data._url</code>
        </p>
    </div>
</div>

<div class="form-group">
    <label for="exchange_key" class="col-sm-2 control-label">Exchange key</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" string class="form-control" name="exchange_key" ng-disabled="!selected._canedit" ng-model="selected.data.exchange_key">
            <!-- <div class="input-group-addon">URL</div> -->
        </div>
        <p class="help-block">
           Exchange key to which to archive 
            <code>data.exchange_key</code>
        </p>
    </div>

    <label for="routing_key" class="col-sm-2 control-label">Routing key</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" string class="form-control" name="routing_key" ng-disabled="!selected._canedit" ng-model="selected.data.routing_key">
            <!-- <div class="input-group-addon">URL</div> -->
        </div>
        <p class="help-block">
            URL of RabbitMQ instance
            <code>data.routing_key</code>
        </p>
    </div>
</div>

<div class="form-group">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" string class="form-control" name="username" ng-disabled="!selected._canedit" ng-model="selected.data._username">
            <!-- <div class="input-group-addon">URL</div> -->
        </div>
        <p class="help-block">
            RabbitMQ connection lifetime 
            <code>data._username</code>
        </p>
    </div>

    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" string class="form-control" name="password" ng-disabled="!selected._canedit" ng-model="selected.data._password">
            <!-- <div class="input-group-addon">URL</div> -->
        </div>
        <p class="help-block">
            RabbitMQ connection lifetime 
            <code>data._password</code>
        </p>
    </div>
</div>

<div class="form-group">
    <label for="connection_lifetime" class="col-sm-2 control-label">Connection Lifetime</label>
    <div class="col-sm-10">
        <div class="input-group">
            <input type="number" string-to-number class="form-control" name="connection_lifetime" ng-disabled="!selected._canedit" ng-model="selected.data.connection_lifetime">
            <!-- <div class="input-group-addon">URL</div> -->
        </div>
        <p class="help-block">
            RabbitMQ connection lifetime 
            <code>data.connection_lifetime</code>
        </p>
    </div>
</div>

