<sca-menutab menu="appconf.menu" active="'hostgroups'" user="user"></sca-menutab>
<div class="container-fluid">
    <div class="panel panel-default" ng-repeat="(service_id, service) in serverconf.service_types">
        <div class="panel-heading">
            {{service.label}}
        </div>

        <ul class="list-group">
            <li class="list-group-item" 
                ng-repeat="hostgroup in hostgroups | filter:{service_type:service_id} | orderBy:'id' ">
                <div class="row">
                    <div class="col-md-8">
                        <h4>
                            <small>{{hostgroup.id}}</small> 
                            <span class="label label-default" ng-if="hostgroup.type == 'dynamic'">Dynamic</span>
                            {{hostgroup.desc}}
                        </h4>
                        <!--<h5>Hosts</h5>-->
                        <mc-hostlist serviceid="service_id" hosts="hostgroup.hosts"></mc-hostlist>
                    </div>
                    <div class="col-md-4">
                        <h5>Admins<small> (who can edit)</small></h5>
                        <mc-admins admins="hostgroup.admins"></mc-admins>
                    </div>
                </div><!--row-->
                <div class="pull-right edit_button" ng-if="hostgroup.canedit">
                    <button type="button" ng-click="edit(hostgroup)" class="btn btn-xs pull-right"><i class="fa fa-pencil-square-o"></i></button>
                </div>
            </li>
        </ul>
        <div class="panel-body" style="background-color: #fafafa;">
            <button class="btn btn-sm" ng-click="create(service_id)">Add New <span class="text-muted">{{service.label}}</span></button>
        </div>
    </div><!--panel-->
</div>

