<form name="hostgroup_form" class="form-horizontal" ng-submit="submit()">
   <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="desc" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="desc" ng-model="hostgroup.desc" placeholder="Name for this host group" required>
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-sm-2 control-label">Service Type</label>
            <div class="col-sm-10">
                <select ng-model="hostgroup.service_type" class="form-control" disabled>
                    <option ng-repeat="(sid, item) in serverconf.service_types" value="{{sid}}">{{item.label}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="admins" class="col-sm-2 control-label">Admins</label>
            <div class="col-sm-10">
                <ui-select multiple ng-model="hostgroup.admins" ng-disabled="disabled">
                    <ui-select-match placeholder="Select admins who can update this test spec">
                        <img gravatar-src="$item.email" gravatar-size="17"/>
                        <b>{{$item.fullname}}</b> <span class="email">&lt;{{$item.email}}&gt;</span>
                    </ui-select-match>
                    <ui-select-choices repeat="user in users_a | propsFilter: {fullname: $select.search, email: $select.search}">
                      <img gravatar-src="user.email" gravatar-size="17"/>
                      <b>{{user.fullname}}</b> <small>&lt;{{user.email}}&gt;</small>
                    </ui-select-choices>
                </ui-select>
                <p class="help-block">Users who can update this test spec</p>
            </div>
        </div>
        <div class="form-group">
            <label for="admins" class="col-sm-2 control-label">Hosts</label>
            <div class="col-sm-10">
                <tabset>
                    <tab heading="Static" active="tabs['static'].active">
                        <ui-select multiple ng-model="hostgroup.hosts" ng-disabled="disabled" style="margin-top: 5px;">
                            <ui-select-match placeholder="Enter hostname">
                                <mc-service ls="services.lss[$item.lsid]" service="$item"></mc-service>
                            </ui-select-match>
                            <ui-select-choices repeat="service.uuid as service in services.recs[hostgroup.service_type] | filter: $select.search">
                                <mc-service ls="services.lss[service.lsid]" service="service"></mc-service>
                            </ui-select-choices>
                        </ui-select>
                    </tab>
                    <tab heading="Dynamic" active="tabs['dynamic'].active">
                        <div style="margin-top: 5px; border: 1px solid #ccc; padding: 5px;">
                            <div ui-ace="{ mode: 'javascript' }" 
                                name="host_filter"
                                ng-model="hostgroup.host_filter" 
                                hostfilter service_type="{{hostgroup.service_type}}" ng-model-options="{ debounce: 250 }" 
                                style="margin-bottom: 5px;" required></div>
                            <alert type="danger" ng-if="host_filter_alert" style="margin-bottom: 0px;">{{host_filter_alert}}</alert>
                            <alert type="warning" ng-if="host_filter_console[0]" style="margin-bottom: 0px;">{{host_filter_console[0]}}</alert>
                            <div ng-if="hostgroup._hosts"
                                style="max-height: 150px; overflow: auto; margin-bottom: 0px; opacity:0.85;" class="well well-sm">
                                <p ng-if="hostgroup._hosts" class="help-block">{{hostgroup._hosts.length}} hosts match above criteria</p>
                                <mc-hostlist ng-if="hostgroup._hosts" serviceid="hostgroup.service_type" hosts="hostgroup._hosts"></mc-hostlist>
                            </div>
                        </div>
                        <!-- <span ng-show="hostgroup_form.host_filter.$pending.hostfilter">Checking if js valid ...</span> -->
                    </tab>
                </tabset>
            </div>
        </div>
    </div><!--modal-body-->
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger pull-left" ng-if="hostgroup.id"
            confirmed-click="remove()" 
            ng-confirm-click="Are you sure you want to remove this host group?">
            <i class="fa fa-times"></i> Remove
        </button>
        <button type="submit" class="btn btn-primary" ng-if="hostgroup.id">Update</button>
        <button type="submit" class="btn btn-primary" ng-if="!hostgroup.id">Create</button>
        <button type="button" class="btn" ng-click="cancel()">Cancel</button>
    </div><!--modal-footer-->
</form>


