<!--<sca-menutab fluid="true" menu="appconf.menu" active="'hosts'" user="user"></sca-menutab>-->
<ng-include src="'t/sidebar.html'"></ng-include>
<div class="sca-sidebar-page">
    <div class="subbar">
        <div style="padding-left: 20px; margin-bottom: 10px;">
            <h2>Hosts</h2>
            <p class="help-block">Showing all toolkit hosts you can use</p>
            <br>
            <div class="btn-group pull-right" style="left: -20px;top: -5px;">
                <button class="btn btn-xs btn-default dropdown-toggle" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Datasource <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                <li><a href>All</a></li>
                <li role="separator" class="divider"></li>
                <li><a href>Latency</a></li>
                <li><a href>Bandwidth</a></li>
                <li><a href>Traceroute</a></li>
                <li><a href>Pinger</a></li>
                </ul>
            </div>
            <span class="text-muted">{{hosts.length}} hosts</span>
        </div>
        <hr style="margin: 0px;">

        <div class="subbar-list">
            <p class="alert alert-default" ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Loading..</p>
            <p class="alert alert-info" ng-if="hosts.length == 0">Please register the first meshconfig.</p>
            <div class="subbar-list-item" 
                ng-repeat="host in hosts"
                ng-class="{'active': selected == host}"
                ng-click="select(host)">
                <div class="list-header">
                    <small><span class="label label-default">{{host.lsid}}</span> {{host.sitename}} 
                        <!--<span class="text-muted">/</span>-->
                    </small>
                </div>
                <small class="help-block">{{host.hostname}}</small>
            </div>
        </div><!--subbar-list-->
    </div><!--subbar-->
    <div class="subbar-content">
        <div class="margin30" ng-if="selected">
            <div class="fixed-top">
                <h2 class="page-heading">
                    {{selected.sitename}}<br>
                    <small class="text-muted">
                        {{selected.hostname}}
                        <span class="label label-danger" ng-if="selected.no_agent">No Agent</span>
                    </small>
                    <button type="button" 
                        style="position: relative; top: -10px;"
                        ng-disabled="!selected._canedit" 
                        ng-click="edit(selected)"   
                        class="btn btn-sm pull-right">
                        <i class="fa fa-pencil-square-o"></i> Edit
                    </button>
                </h2>
            </div>
            <div style="padding-top: 70px">
                <!--
                <small><span class="label {{services.lss[host.services[0].lsid].label_class}}"> {{services.lss[host.services[0].lsid].label}}</span></small>
                -->
                <!--
                <small>
                    <a ng-if="selected.toolkit_url != 'auto'" href="{{selected.toolkit_url}}" target="_blank">
                        <i class="fa fa-external-link"></i>
                    </a>
                </small>
                -->

                <h3>Services / MA endpoints</h3>
                <p class="help-block">All services running under this host and which measurement archive the data should be sent to</p>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="service in selected.services">
                        <div class="host">
                            <!--
                            <span ng-if-dis="selected.lsid != host.services[0].lsid" 
                                class="label {{services.lss[service.lsid].label_class}}"> 
                                {{services.lss[service.lsid].label}}
                            </span>
                            -->
                            {{service.type}}
                            <small class="text-muted">{{service.locator}}</small>
                            <span ng-if="service.old" class="label label-warning">Stale</span>
                        </div>
                        <div style="display: inline-block; opacity: 0.5" ng-if="service.type != 'ma' && !service.ma && selected._default_ma"> 
                            <i class="fa fa-arrow-right"></i> 
                            <div class="host">local ma</div>
                        </div>
                        <div style="display: inline-block;" ng-if="service.type != 'ma' && service.ma"> 
                            <i class="fa fa-arrow-right"></i> 
                            <div class="host">
                                <!--<mc-service ls="services.lss[service.MA.lsid]" service="service.MA"></mc-service>-->
                                {{hosts_o[service.ma].sitename}} <code>{{hosts_o[service.ma].hostname}}</code>
                            </div>
                        </div>
                    </li>
                </ul>

                <h3>Host Detail</h3>
                <mc-specs specs="selected.info"></mc-specs>

                <h3>Administrators</h3>
                <mc-admins admins="selected.admins"></mc-admins>

                <h3>Location</h3>
                <a class="pull-right" 
                    href="https://www.google.com/maps/place/{{selected.location.latitude}},{{selected.location.longitude}}">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Google Map
                </a>
                <mc-specs specs="selected.location"></mc-specs>

                <h3>Communities</h3>
                <p class="help-block" ng-if="!selected.communities">No Communities</p>
                <ul class="specs">
                    <li ng-repeat="com in selected.communities">{{com}}</li>
                </ul>

                <h3>Datasource</h3>
                <span class="label label-default">{{selected.lsid}}</span> <pre>{{selected.url}}</pre>

                <h3>Addresses</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="address in selected.addresses">
                        {{address|json}}
                    </li>
                </ul>

                <div ng-if="selected.toolkit_url != 'auto'">
                    Toolkit URL Override: <a href="{{selected.toolkit_url}}" target="_blank">{{selected.toolkit_url}}</a>
                </div>

                <br><br>
                
                <h3>Debug</h3>
                <pre>{{selected|json}}</pre>
            </div><!--padding-top-->
        </div><!--margin30-->
    </div><!--subbar-content-->
</div>


