<ng-include src="'t/sidebar.html'"></ng-include>
<div class="sca-sidebar-page">
    <div class="subbar">
        <div style="padding-left: 20px; margin-bottom: 10px;">
            <h2>Host Groups</h2>
            <p class="help-block">Create reusable groups of hosts</p>
            <br>
            <div class="btn-group pull-right" style="left: -20px;top: -5px;">
                <button class="btn btn-xs btn-default dropdown-toggle" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                <li><a href>All</a></li>
                <li role="separator" class="divider"></li>
                <li><a href>Latency</a></li>
                <li><a href>Bandwidth</a></li>
                <li><a href>Traceroute</a></li>
                <li><a href>Pinger</a></li>
                </ul>
            </div>
            <span class="text-muted">{{hostgroups.length}} hostgroups</span>
        </div>
        <hr style="margin: 0px;">

        <div class="subbar-list">
            <p class="alert alert-info" ng-if="hostgroups.length == 0">Please register a hostgroup.</p>
            <div class="subbar-list-item" 
                ng-repeat="hostgroup in hostgroups" 
                ng-class="{active: selected == hostgroup}"
                ng-click="select(hostgroup)">
                <time class="help-block pull-right">{{hostgroup.create_date|date}}</time>
                <div class="list-header">
                    <small>
                        <span class="label label-default">{{hostgroup.service_type}}</span> {{hostgroup.name}}
                        <i ng-if="!hostgroup._canedit" class="fa fa-lock text-muted" title="Readonly"></i>
                        <i ng-if="hostgroup.type == 'dynamic'" class="fa fa-fire" title="Dynamic Hostgroup"></i>
                    </small>
                </div>
            </div>
            <div class="list-addbutton" ng-click="add()" title="Add New Hostgroup">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> 
            </div>
        </div>
    </div><!--subbar-->
    
    <div class="subbar-content">
        <p class="alert alert-info" ng-if="!selected">Please select hostgroup</p>
        <form name="form" class="form-horizontal" ng-submit="submit()" ng-show="selected" confirm-on-exit>
            <div class="fixed-top">
                <h2>
                    <i class="fa fa-trash-o clickable" aria-hidden="true" ng-if="selected._id && selected._canedit"
                        ng-confirm-click="Are you sure you want to remove this hostgroup?"
                        confirmed-click="remove()"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;

                    <div class="pull-right" style="padding-right: 20px;">
                        <i class="fa fa-lock" ng-if="!selected._canedit" title="Read Only"></i>
                        <div ng-if="form.$dirty && selected._canedit" class="display: inline-block;">
                            <button type="submit" class="btn btn-primary" ng-if="selected._id">Update</button>
                            <button type="submit" class="btn btn-primary" ng-if="!selected._id">Create</button>
                            <button type="button" class="btn" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </h2>

                <br clear="right">
                <div class="form-group">
                    <div class="margin30">
                        <label for="name" class="col-sm-2 control-label"><strong>Name *</strong></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" ng-model="selected.name" 
                                ng-disabled="!selected._canedit"
                                placeholder="Name for this hostgroup" required>
                        </div>
                    </div>
                </div>
                <hr style="margin-bottom: 0px;">
            </div><!--fixed-top-->

            <div style="padding-top: 150px" class="margin30">
                <div class="form-group">
                    <label for="admins" class="col-sm-2 control-label">Admins</label>
                    <div class="col-sm-10">
                        <ui-select multiple ng-model="selected.admins" ng-disabled="!selected._canedit">
                            <ui-select-match placeholder="Select admins who can update this test spec">
                                <img gravatar-src="$item.email" gravatar-size="17"/>
                                <b>{{$item.fullname}}</b> <span class="email">&lt;{{$item.email}}&gt;</span>
                            </ui-select-match>
                            <ui-select-choices repeat="user.id as user in users | propsFilter: {fullname: $select.search, email: $select.search}">
                              <img gravatar-src="user.email" gravatar-size="17"/>
                              <b>{{user.fullname}}</b> <small>&lt;{{user.email}}&gt;</small>
                            </ui-select-choices>
                        </ui-select>
                        <p class="help-block">Users who can update this hostgroup</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label">Service Type *</label>
                    <div class="col-sm-10">
                        <select class="form-control" 
                            ng-disabled="!selected._canedit"
                            ng-change="run_dynamic()"
                            ng-model="selected.service_type" required>
                            <option ng-repeat="(sid, item) in serverconf.service_types" value="{{sid}}">{{item.label}} ({{sid}})</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="selected.service_type">
                    <label for="admins" class="col-sm-2 control-label">Hosts</label>
                    <div class="col-sm-10">
                        <tabset>
                            <tab heading="Static" 
                                select="changetype('static')"
                                active="tabs['static'].active">
                                <ui-select multiple ng-model="selected.hosts" style="margin-top: 5px;" ng-disabled="!selected._canedit">
                                    <ui-select-match placeholder="Enter hostname">
                                        <span class="label label-default" ng-if="$item.lsid">{{$item.lsid}}</span>
                                        <span class="label label-warning" ng-if="!$item.lsid">Adhoc</span>
                                        <!--<b>{{$item.sitename}}</b>-->
                                        <span>{{$item.hostname|trim_locator}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="host._id as host in hosts[selected.service_type] | propsFilter: {sitename: $select.search, hostname: $select.search}">
                                        <span class="label label-default" ng-if="host.lsid">{{host.lsid}}</span>
                                        <span class="label label-warning" ng-if="!host.lsid">Adhoc</span>
                                        <b>{{host.sitename}}</b> 
                                        <span>{{host.hostname|trim_locator}}</span>
                                    </ui-select-choices>
                                </ui-select>
                                <button class="btn btn-xs btn-default pull-right" type="button" ng-click="selected.hosts = []; form.$setDirty();">Clear All {{selected.hosts.length}} Hosts</button>
                            </tab>
                            <tab heading="Dynamic" 
                                select="changetype('dynamic')"
                                active="tabs['dynamic'].active" select="run_dynamic()">
                                <div style="margin-top: 5px; border: 1px solid #ccc; padding: 5px;">
                                    <div name="host_filter"
                                        ui-ace="{ mode: 'javascript' }" 
                                        ng-change="run_dynamic()"
                                        ng-model="selected.host_filter" 
                                        ng-model-options="{ debounce: 250 }" 
                                        ng-readonly="!selected._canedit"
                                        style="margin-bottom: 5px;" required></div>
                                    <alert type="danger" ng-if="selected.host_filter_alert" style="margin-bottom: 0px;">{{selected.host_filter_alert}}</alert>
                                    <alert type="warning" ng-if="selected.host_filter_console[0]" style="margin-bottom: 0px;">{{selected.host_filter_console[0]}}</alert>
                                    <div ng-if="selected._hosts" style="max-height: 150px; overflow: auto; margin-bottom: 0px; opacity:0.85;" class="well well-sm">
                                        <p class="help-block">{{selected._hosts.length}} hosts match above query</p>
                                        <mc-hostlist hostids="selected._hosts"></mc-hostlist>
                                    </div>
                                </div>
                                <p class="help-block">Please see <a target="_target" href="http://docs.perfsonar.net/mca_userguide_hostgroup.html#dynamic-host-groups">Dynamic Host Groups</a> for more detail.</p>
                            </tab>
                        </tabset>
                    </div>
                </div>
                <br>
                <br>

                <!-- don't remove this or ui-select won't be displayed correctly (containing div trims it?)-->
                <div ng-if="!appconf.debug" style="height: 300px">     
                </div> 

                <div ng-if="appconf.debug">
                    <h3>Debug</h3>
                    <pre>{{selected|json}}</pre>
                </div>
            </div><!--non fixed-->
        </form>

    </div><!--subbar-content-->
</div><!--sca-sidebar-page-->


