<sca-menutab menu="appconf.menu" active="'hosts'" user="user"></sca-menutab>
<div class="container-fluid">
    <p ng-if="loading" class="help-block"><i class="fa fa-circle-o-notch fa-spin"></i> Loading..</p>
    <!--<p ng-if="hosts_num > 0" class="help-block">Only administrators can update host information</p>-->
    <p ng-if="hosts_num == 0" class="help-block">No hosts / services cached yet. Is MeshConfig Admin cache service runing?</p>
    <ul class="list-group">
    <li class="list-group-item" 
        ng-repeat="(client_uuid, host) in hosts | orderObjectBy: '_detail.sitename'">
        <div class="row">
            <div class="col-md-7">
                <h4>
                    <small>{{host._detail.id}}</small>
                    <!-- assume all services comes from the same ls.. so pick the first one-->
                    <Small><span class="label {{services.lss[host.services[0].lsid].label_class}}"> {{services.lss[host.services[0].lsid].label}}</span></small>
                    {{host._detail.sitename}}
                    <small>
                        <span ng-if="host._detail.hostname">{{host._detail.hostname}}</span>
                        <span ng-if="!host._detail.hostname && host._detail.ip">{{host._detail.ip}}</span>
                        <a ng-if="host._detail.toolkit_url != 'auto'" href="{{host._detail.toolkit_url}}" target="_blank"><i class="fa fa-external-link"></i></a>
                        <!--
                        <a ng-if="host._detail.toolkit_url == 'auto'" href="http://{{host._detail.hostname || host._detail.ip}}" target="_blank"><i class="fa fa-external-link"></i><i class="fa fa-external-link"></i></a>
                        -->
                        <span class="label label-danger" ng-if="host._detail.no_agent">No Agent</span>
                    </small>
                </h4>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="service in host.services | filter:{type:'!ma'} | orderObjectBy: 'name'">
                        <div class="host">
                            <!--
                            <span class="label {{services.lss[service.lsid].label_class}}"> {{services.lss[service.lsid].label}}</span>
                            -->
                            {{service.type}}
                            <span ng-if="service.old" class="label label-warning">Stale</span>
                        </div>
                        <div style="display: inline-block; opacity: 0.5" ng-if="!service.MA && host._detail._has_localma"> 
                            <i class="fa fa-arrow-right"></i> 
                            <div class="host">local ma</div>
                        </div>
                        <div style="display: inline-block;" ng-if="service.MA"> 
                            <i class="fa fa-arrow-right"></i> MA 
                            <div class="host">
                                <mc-service ls="services.lss[service.MA.lsid]" service="service.MA"></mc-service>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!--col-md-7-->
            <div class="col-md-3">
                <h5>Host Information</h5>
                <mc-specs specs="host._detail.info"></mc-specs>
            </div>
            <div class="col-md-2">
                <h5>Location</h5>
                <mc-specs specs="host._detail.location"></mc-specs>
                <h5>Communities</h5>
                <p class="help-block" ng-if="!host._detail.communities">No Communities</p>
                <ul class="specs">
                    <li ng-repeat="com in host._detail.communities">{{com}}</li>
                </ul>
            </div>
        </div><!--row-->
        <div class="pull-right edit_button" ng-if="host._detail.canedit">
            <button type="button" ng-click="edit(host)" class="btn btn-xs pull-right"><i class="fa fa-pencil-square-o"></i></button>
        </div>
    </li>
    </ul>
</div>


