<!--<sca-menutab fluid="true" menu="appconf.menu" active="'hosts'" user="user"></sca-menutab>-->
<ng-include src="'t/sidebar.html'"></ng-include>
<div class="sca-sidebar-page">
    <div class="subbar">
        <div style="padding-left: 20px; margin-bottom: 10px;">
            <h2>Hosts</h2>
            <p class="help-block">List of all toolkit hosts on configured sLS</p>
            <br>
            <div class="btn-group pull-right" style="left: -20px;top: -5px;">
                <button class="btn btn-xs btn-default dropdown-toggle" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Datasource <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                <li><a href>All</a></li>
                <li role="separator" class="divider"></li>
                <li><a href>Latency</a></li>
                <li><a href>Bandwidth</a></li>
                <li><a href>Traceroute</a></li>
                <li><a href>Pinger</a></li>
                </ul>
            </div>
            <span class="text-muted">{{hosts.length}} hosts</span>
        </div>
        <hr style="margin: 0px;">

        <div class="subbar-list">
            <p class="alert alert-default" ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Loading..</p>
            <p class="alert alert-info" ng-if="hosts.length == 0">Please register the first meshconfig.</p>
            <div class="subbar-list-item" 
                ng-repeat="host in hosts"
                ng-class="{'active': selected == host}"
                ng-click="select(host)">
                <div class="list-header">
                    <small><span class="label label-default">{{host.lsid}}</span> {{host.sitename}} 
                        <!--<span class="text-muted">/</span>-->
                        <i ng-if="!host._canedit" class="fa fa-lock text-muted" title="readonly"></i>
                        <i ng-if="host.adhoc" class="fa fa-pencil text-muted pull-right" title="Adhoc Host Entry"></i>
                    </small>
                </div>
                <small class="help-block">{{host.hostname}}</small>
            </div>
        </div><!--subbar-list-->
    </div><!--subbar-->

    <div class="subbar-content">
        <p class="alert alert-info" ng-if="!selected">Please select a host</p>
        <form name="form" class="form-horizontal" ng-submit="submit()" ng-show="selected" confirm-on-exit>
            <div class="fixed-top">
                <!--
                <h2 class="page-heading">
                    <button type="button" class="btn btn-primary pull-right"
                        ng-disabled="!selected._canedit" 
                        ng-click="edit(selected)">
                        <i class="fa fa-pencil-square-o"></i> Edit
                    </button>
                    {{selected.sitename}}<br>
                    <small class="text-muted">
                        {{selected.hostname}}
                        <span class="label label-danger" ng-if="selected.no_agent">No Agent</span>
                    </small>
                </h2>
                -->
                <h2>
                    <i class="fa fa-trash-o clickable" aria-hidden="true" ng-if="selected._id && selected._canedit"
                        ng-confirm-click="Are you sure you want to remove this host?"
                        confirmed-click="remove()"></i>&nbsp;&nbsp;&nbsp;
                    <!--
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    -->
                    <div class="pull-right" style="padding-right: 20px;">
                         <div ng-if="form.$dirty && selected._canedit" class="display: inline-block;">
                            <button type="submit" class="btn btn-primary" ng-if="selected._id">Update</button>
                            <button type="submit" class="btn btn-primary" ng-if="!selected._id">Create</button>
                            <button type="button" class="btn" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </h2>
                <br clear="right">
                <div class="form-group">
                    <div class="margin30">
                        <label for="hostname" class="col-sm-2 control-label"><strong>Hostname *</strong></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="hostname" ng-model="selected.hostname" 
                                ng-readonly="!selected.adhoc" 
                                ng-disabled="!selected._canedit" 
                                placeholder="some.hostname.edu" required>
                        </div>
                    </div>
                </div>
                <hr style="margin-bottom: 0px;">
            </div><!--fixed-top-->

            <div style="padding-top: 150px" class="margin30">
                <p class="alert alert-info" ng-if="!selected.adhoc">Information on this host comes from lookup service. You can not edit some information.</p>
                <h3>Basic Information</h3>
                <!--
                <small><span class="label {{services.lss[host.services[0].lsid].label_class}}"> {{services.lss[host.services[0].lsid].label}}</span></small>
                -->
                <!--
                <small>
                    <a ng-if="selected.toolkit_url != 'auto'" href="{{selected.toolkit_url}}" target="_blank">
                        <i class="fa fa-external-link"></i>
                    </a>
                </small>
                -->
                <div class="form-group">
                    <label for="sitename" class="col-sm-2 control-label"><strong>Site Name *</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="sitename" 
                            ng-model="selected.sitename" 
                            ng-readonly="!selected.adhoc"
                            ng-disabled="!selected._canedit" 
                            placeholder="Like.. AGLT2" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">toolkit_url</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="toolkit_url" ng-model="selected.toolkit_url" placeholder="http://perfsonar-lt.grid.iu.edu">
                        <p class="help-block">For graphical displays that wish to provide a link to more information about the host (like MadDash host label). Enter <i>auto</i> if you'd like to generate this from the hostname.</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label><input type="checkbox" name="no_agent" ng-model="selected.no_agent"> No Agent</label>
                            <p class="help-block">If checked, this host will not read the mesh config. This is significant because it means those that test to it are responsible for initiating tests in both directions and storing the results. If un-checked, it means other testers can assume this host is reading the mesh and will initiate its portion of the tests accordingly.</p>
                        </div>    
                    </div>
                </div>

                <div class="form-group">
                    <label for="admins" class="col-sm-2 control-label">Admins</label>
                    <div class="col-sm-10">
                        <!--<mc-admins admins="selected.admins"></mc-admins>-->
                        <ui-select multiple ng-model="selected.admins" ng-disabled="!selected._canedit || !selected.adhoc">
                            <ui-select-match placeholder="Select admins who can update this test spec">
                                <img gravatar-src="$item.email" gravatar-size="17"/>
                                <b>{{$item.fullname}}</b> <span class="email">&lt;{{$item.email}}&gt;</span>
                            </ui-select-match>
                            <ui-select-choices repeat="user.id as user in users | propsFilter: {fullname: $select.search, email: $select.search}">
                              <img gravatar-src="user.email" gravatar-size="17"/>
                              <b>{{user.fullname}}</b> <small>&lt;{{user.email}}&gt;</small>
                            </ui-select-choices>
                        </ui-select>
                        <p class="help-block">Users who can update this host</p>
                    </div>
                </div>

                <h3>Services / MA endpoints</h3>
                <p class="help-block">You can request each service to send measurements to non-local MA (Measurment Archive)</p>
                <div ng-repeat="service in selected.services | orderObjectBy: 'name' ">
                    <!--
                    <label class="col-sm-2 control-label">Name *</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="service.name" 
                            ng-readonly="!selected.adhoc"
                            placeholder="Like.. AGLT2 Owamp" ng-disabled="!selected._canedit" required>
                    </div>
                    -->
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-2">
                            <h4 style="margin-top: 0px;">{{service.type}}</h4>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">Locator</span>
                                <input type="text" class="form-control" ng-model="service.locator" 
                                ng-readonly="!selected.adhoc"
                                placeholder="API URL for this service (leave it blank to auto generate)" ng-disabled="!selected._canedit">
                            </div>
                        </div>
                        <div class="col-md-5" ng-if="service.type != 'ma'">
                            <div class="input-group">
                                <span class="input-group-addon">MA</span>
                                <ui-select ng-model="service.ma" ng-disabled="!selected._canedit">
                                    <ui-select-match placeholder="Use local measurement archive">
                                        <div style="padding-top: 2px; font-size: 12px">
                                            {{$select.selected.sitename}} <code>{{$select.selected.hostname}}</code>
                                        </div>
                                    </ui-select-match>
                                    <ui-select-choices repeat="ma._id as ma in mas | filter: $select.search">
                                        {{ma.sitename}} <code>{{ma.hostname}}</code>
                                    </ui-select-choices>
                                </ui-select>
                            </div><!--input-group-->
                        </div><!--ma-->
                    </div><!--row-->
                </div>

                <!--service adder-->
                <div ng-if="selected._canedit && selected.adhoc && missing_services.length > 0"> 
                    <hr>
                    <div class="row">
                        <div class="col-md-2"> </div>
                        <div class="col-md-10">
                            <select ng-model="$parent.addservice_item" ng-change="addservice()" 
                                ng-options="service as service.label for service in missing_services track by service.id"
                                class="form-control">
                                <option value="">(Add New Service)</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--
                <p class="help-block">All services running under this host and which measurement archive the data should be sent to</p>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="service in selected.services">
                        <div class="host">
                            {{service.type}}
                            <small class="text-muted">{{service.locator}}</small>
                            <span ng-if="service.old" class="label label-warning">Stale</span>
                        </div>
                        <div style="display: inline-block; opacity: 0.5" ng-if="service.type != 'ma' && !service.ma && selected._default_ma"> 
                            <i class="fa fa-arrow-right"></i> 
                            <div class="host">local ma</div>
                        </div>
                        <div style="display: inline-block;" ng-if="service.type != 'ma' && service.ma"> 
                            <i class="fa fa-arrow-right"></i> 
                            <div class="host">
                                {{hosts_o[service.ma].sitename}} <code>{{hosts_o[service.ma].hostname}}</code>
                            </div>
                        </div>
                    </li>
                </ul>
                -->

                <h3>Host Information</h3>
                <p class="help-block">Host infomation can be used in a dynamic hostgroup query to create groups based on current information. Host detail may change over time.</p>
                <mc-specs specs="selected.info" form="form"></mc-specs>


                <h3>Location</h3>
                <a class="pull-right" 
                    href="https://www.google.com/maps/place/{{selected.location.latitude}},{{selected.location.longitude}}">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Google Map
                </a>
                <mc-specs specs="selected.location" form="form"></mc-specs>

                <h3>Communities</h3>
                <p class="help-block" ng-if="!selected.communities">No Communities</p>
                <ul class="specs">
                    <li ng-repeat="com in selected.communities">{{com}}</li>
                </ul>

                <h3>Datasource</h3>
                <span class="label label-default">{{selected.lsid}}</span> <pre>{{selected.url}}</pre>

                <h3>Addresses</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="address in selected.addresses">
                        {{address|json}}
                    </li>
                </ul>

                <div ng-if="selected.toolkit_url != 'auto'">
                    Toolkit URL Override: <a href="{{selected.toolkit_url}}" target="_blank">{{selected.toolkit_url}}</a>
                </div>

                <br><br>
                
                <h3>Debug</h3>
                <pre>{{selected|json}}</pre>
            </div><!--padding-top-->
        </form>
    </div><!--subbar-content-->
</div>


