<sca-menutab menu="serverconf.menu" active="'services'"></sca-menutab>
<div class="container-fluid">
    <ul class="list-group">
    <li class="list-group-item" ng-repeat="(client_uuid, host) in hosts | orderObjectBy: '_detail.sitename'">
        <h4>
            <small>{{host._detail.id}}</small>
            {{host._detail.sitename}} (<span ng-if="host._detail.hostname">{{host._detail.hostname}}</span>)
            <small>
                |
                v{{host._detail.host.toolkitversion}}
                |
                {{host._detail.host.os_version}} / 
                {{host._detail.host.hardware_memory}} / 
                {{host._detail.host.hardware_processorspeed}} ({{host._detail.host.hardware_processorcount}} cores) 
                <!--
                |
                lon: {{host._detail.location.longitude}} lat: {{host._detail.location.latitude}}
                -->
                |
                {{host._detail.location.city}}, 
                {{host._detail.location.state}}, 
                {{host._detail.location.postal_code}}, 
                {{host._detail.location.country}}
            </small>
        </h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="service in host.services | orderObjectBy: 'name'">
                <div class="host">
                    <span class="label {{services.lss[service.lsid].label_class}}"> {{services.lss[service.lsid].label}}</span>
                    <b>{{service.name}}</b> ({{service.locator}})
                    <span ng-if="service.old" class="label label-warning">Stale</span>
                </div>
                <div style="display: inline-block;" ng-if="service.MA"> 
                    <i class="fa fa-arrow-right"></i> MA 
                    <div class="host">
                        <span class="label {{services.lss[service.MA.lsid].label_class}}"> {{services.lss[service.MA.lsid].label}}</span>
                        <b>{{service.MA.name}}</b> ({{service.MA.locator}})
                        <span ng-if="service.MA.old" class="label label-warning">Stale</span>
                    </div>
                </div>
            </li>
        </ul>
        <!--<pre>{{host._detail | json}}</pre>-->
        <div class="pull-right edit_button" ng-if="host._detail.canedit">
            <button type="button" ng-click="edit(host)" class="btn btn-sm pull-right"><i class="fa fa-pencil-square-o"></i></button>
        </div>
    </li>
    </ul>
</div>


