<sca-menubar menu="top_menu" active="'user'" profile="form_profile"></sca-menubar>
<div class="header">
    <h2>Settings</h2>
</div>
<sca-menutab menu="settings_menu" active="'profile'"></sca-menutab>
<div class="container">
    <!--<h3 class="page-header">Public Profile</h3>-->
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <ul class="list-group settings">
        <li class="list-group-item heading">
            <h4 class="list-group-item-heading">Public Profile</h4>
        </li>
        <li class="list-group-item">
            <form ng-submit="submit_profile();">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" ng-model="form_profile.fullname" name="fullname" 
                        placeholder="Your full name" required/>
                </div>
                <div class="form-group">
                    <label>Biograph</label>
                    <textarea rows="6" class="form-control" ng-model="form_profile.bio" name="bio" 
                        placeholder="Please enter a brief introduction about yourself"></textarea>
                </div>
                <input type="submit" class="btn" value="Update"/>
            </form><!--profile form-->
        </li>
    </ul>
</div>

