<div class="sca-sidebar">

    <div class="menu subbar-opener" ng-click="opensubbar()">
        <h3><i class="fa fa-bars"></i></h3> 
    </div>

    <!--<center class="label" style="padding: 0px; color: #666;">Perfsonar<br>MeshConfig<br>Administrator</center>-->
    <h2 class="text-muted" ng-click="openpage('/home');" style="padding-top: 0px; cursor: pointer;">
        <!--<i class="fa fa-flask" aria-hidden="true"></i>-->
        <img src="images/logoicon.45.png" width="35">
    </h2>
    <br>
    <br>

    <div class="menu" ng-class="{'active':  active_menu == 'configs'}" ng-click="openpage('/configs')">
        <h3><i class="fa fa-globe" aria-hidden="true"></i></h3> 
        <span class="label">Configs</span>
    </div>
    <hr>

    <div class="menu" ng-class="{'active':  active_menu == 'hosts'}" ng-click="openpage('/hosts')">
        <h3><i class="fa fa-laptop" aria-hidden="true"></i></h3> 
        <span class="label">Hosts</span>
    </div>
    <div class="menu" ng-class="{'active':  active_menu == 'hostgroups'}" ng-click="openpage('/hostgroups')">
        <h3><i class="fa fa-server" aria-hidden="true"></i></h3> 
        <span class="label">Host Groups</span>
    </div>
    <div class="menu" ng-class="{'active':  active_menu == 'testspecs'}" ng-click="openpage('/testspecs')">
        <h3><i class="fa fa-flask" aria-hidden="true"></i></h3> 
        <span class="label">Testspecs</span>
    </div>

    <!--
    <hr>
    <div class="menu" ng-class="{'active':  active_menu == 'about'}" ng-click="openpage('/about')">
        <h3><i class="fa fa-home" aria-hidden="true"></i></h3> 
        <span class="label">About</span>
    </div>
    -->

    <div class="bottom">
        <div class="menu" ng-click="relocate('https://github.com/perfsonar/psconfig-web/issues')">
            <h3><i class="fa fa-bug" aria-hidden="true"></i></h3> 
            <!--<span class="label">Report Bugs</span>-->
        </div>
        <div class="menu" ng-click="relocate('http://docs.perfsonar.net/pwa')">
            <h3><i class="fa fa-question" aria-hidden="true"></i></h3> 
            <!--<span class="label">Docs</span>-->
        </div>
        <hr>
        <div class="menu" ng-click="relocate('/auth/#!/settings/account', true)">
            <h3><i class="fa fa-cog" aria-hidden="true"></i></h3> 
            <span class="label">Settings</span>
        </div>
    </div>

    <!--
    <div id="settings-menu" ng-if="show_settings">
        <a href="/profile" class="menu">Profile</a>
    </div>
    -->
</div>
