<sca-menutab menu="serverconf.menu" active="'testspecs'"></sca-menutab>
<div class="container-fluid">
    <!--<h3>test specs</h3>-->
    <div class="panel panel-default" ng-repeat="(service_id, service) in serverconf.service_types">
        <div class="panel-heading">
            {{service.label}}
            <!--
            <button class="btn btn-xs" ng-click="create(service_id)">Add New Test Spec</button>
            -->
        </div>

        <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="testspec in testspecs | filter:{service_type: service_id} | orderBy: 'id'">
            <!--
            <div class="pull-right">
                <button type="button" ng-click="edit(testspec)" ng-if="testspec.canedit" class="btn btn-sm">Edit</button>
            </div>
            -->
            <div class="row">
                <div class="col-md-5">
                    <h4><small>{{testspec.id}}</small> {{testspec.desc}}</h4>
                    <mc-specs specs="testspec.specs"></mc-specs>
                </div>
                <div class="col-md-7">
                    <h5>Admins<small> (who can edit)</small></h5>
                    <mc-admins admins="testspec.admins"></mc-admins>
                </div>
            </div>
            <div class="pull-right edit_button" ng-if="testspec.canedit">
                <button type="button" ng-click="edit(testspec)" class="btn btn-sm pull-right"><i class="fa fa-pencil-square-o"></i></button>
            </div>

        </li>
        </ul>
        <div class="panel-body" style="background-color: #fafafa;">
            <button class="btn btn-sm" ng-click="create(service_id)">Add New</button>
        </div>
    </div><!--panel-->
</div>


