<!--<sca-menutab fluid="true" menu="appconf.menu" active="'testspecs'" user="user"></sca-menutab>-->
<div class="container-fluid">
    <form ng-submit="submit()" class="form-horizontal" name="form" confirm-on-exit>
        <!--
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <h3 class="modal-title">{{title}}</h3>
            </div>
        </div>
        -->
        <div class="form-group">
            <label for="desc" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="desc" ng-model="testspec.desc" placeholder="Name for this test spec" required>
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-sm-2 control-label">Service Type</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="type" disabled=disabled ng-model="testspec.service_type" required>
            </div>
        </div>
        <div class="form-group">
            <label for="admins" class="col-sm-2 control-label">Admins</label>
            <div class="col-sm-10">
                <ui-select multiple ng-model="testspec.admins" ng-disabled="disabled">
                    <ui-select-match placeholder="Select admins who can update this test spec">
                        <img gravatar-src="$item.email" gravatar-size="17"/>
                        <b>{{$item.fullname}}</b> <span class="email">&lt;{{$item.email}}&gt;</span>
                    </ui-select-match>
                    <ui-select-choices repeat="user in users_a | propsFilter: {fullname: $select.search, email: $select.search}">
                      <img gravatar-src="user.email" gravatar-size="17"/>
                      <b>{{user.fullname}}</b> <small>&lt;{{user.email}}&gt;</small>
                    </ui-select-choices>
                </ui-select>
                <p class="help-block">Users who can update this test spec</p>
            </div>
        </div>

        <hr>
        <ng-include ng-if="testspec" src="'t/testspec-'+testspec.service_type+'.html'"></ng-include>
        <hr>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-danger btn-sm" ng-if="testspec._id"
                    confirmed-click="remove()" 
                    ng-confirm-click="Are you sure you want to remove this test spec?">
                    <i class="fa fa-times"></i> Remove
                </button>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-if="testspec._id">Update</button>
                    <button type="submit" class="btn btn-primary" ng-if="!testspec._id">Create</button>
                    <button type="button" class="btn" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
