<div class="form-group">
    <label for="tool" class="col-sm-2 control-label">Tool *</label>
    <div class="col-sm-4">
        <select class="form-control" ng-model="testspec.specs.tool">
            <option value="traceroute">traceroute</option>
            <option value="tracepath">tracepath</option>
        </select>
        <p class="help-block">The tool to use to perform the traceroute</p>
    </div>
    <div ng-if="testspec.specs.tool == 'traceroute'">
        <label for="protocol" class="col-sm-2 control-label">Protocol</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="testspec.specs.protocol">
                <option value="icmp">ICMP</option>
                <option value="udp">UDP</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group" ng-if="testspec.specs.tool == 'traceroute'">
    <label for="test_interval" class="col-sm-2 control-label">Test Interval *</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" class="form-control" id="test_interval" ng-model="testspec.specs.test_interval" required>
            <div class="input-group-addon">seconds</div>
        </div>
        <p class="help-block">Number of seconds between each test</p>
    </div>
    <label for="first_ttl" class="col-sm-2 control-label">First TTL</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" class="form-control" id="first_ttl" ng-model="testspec.specs.first_ttl">
            <div class="input-group-addon">hops</div>
        </div>
        <p class="help-block">Length of each test</p>
    </div>
</div>
<div class="form-group" ng-if="testspec.specs.tool == 'traceroute'">
    <label for="random_start_percentage" class="col-sm-2 control-label">Random Start Percentage</label>
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" class="form-control" id="random_start_percentage" ng-model="testspec.specs.random_start_percentage">
            <div class="input-group-addon">%</div>
        </div>
        <p class="help-block">Randomize test start time by this amount</p>
    </div>
    <div>
        <label for="packet_size" class="col-sm-2 control-label">Packet Size</label>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" id="packet_size" ng-model="testspec.specs.packet_size">
                <div class="input-group-addon">bytes</div>
            </div>
            <p class="help-block">The size of packets to send in bytes when performing the traceroute</p>
        </div>
    </div>
</div>
<div class="form-group" ng-if="testspec.specs.tool == 'traceroute'">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label> <input type="checkbox" ng-model="testspec.specs.force_bidirectional"> Do Bidirectional test</label>
        </div>
        <div class="checkbox">
            <label> <input type="checkbox" ng-model="testspec.specs.ipv4_only"> IPv4 Only</label>
        </div>
        <div class="checkbox">
            <label> <input type="checkbox" ng-model="testspec.specs.ipv6_only"> IPv6 Only</label>
        </div>
    </div>
</div>

