<p class="text-muted" ng-if="!tests.length">No test specified</p>
<ul class="list-group">
    <li class="list-group-item test" ng-repeat="test in tests" ng-class="{disabled: !test.enabled}">
        <span ng-if="!test.enabled" class="pull-right label label-warning" style="padding: 5px 10px">Disabled</span>
        <h5 style="margin-bottom: 0px;">
            <span class="label label-default">{{servicetypes[test.service_type].label}}</span>
            {{test.desc}} <!--<small>with {{test.testspec.desc}}</small>-->
            | <img ng-src="images/{{test.mesh_type}}.png" style="top: -1px; position: relative;"> <small>{{test.mesh_type}}</small>
            <div ng-switch="test.mesh_type" style="display: inline-block;">
                <div ng-switch-when="star" style="display: inline-block;">
                    {{test.agroup.desc}} (Center: {{get_service(test.center_address).name}})
                </div>
                <div ng-switch-when="mesh" style="display: inline-block;">
                    {{test.agroup.desc}}
                </div>
                <div ng-switch-when="disjoint" style="display: inline-block;">
                    A:{{test.agroup.desc}} B:{{test.bgroup.desc}}
                </div>
                <div ng-switch-when="ordered_mesh" style="dpslay: inline-block;">
                    {{test.agroup.desc}} 
                </div>
                <div ng-switch-default style="display: inline-block;">
                    (Unsupported mesh type: {{test.mesh_type}})
                </div>
            </div>
            <div ng-if="test.nagroup" style="display: inline-block;">
                | NA:{{test.nagroup.desc}} 
            </div> 
        </h5>
    </li>
</ul>
