#sidebar-wrapper {
  background-color: #333;
  box-shadow: inset 0px 3px 2px 0px #222;
}

body {
  color: #383838;
  font-size: 14px;
}
h2,
h3 {
  color: #878787;
  font-weight: bold;
}
h2 {
  font-size: 21px;
}
h2.page-heading {
  padding-bottom: 8px;
  padding-right: 20px;
  border-bottom: 1px solid #ddd;
  color: #008cba;
}
h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
i[onclick] {
  cursor: hover;
}
/*
.fixed-top {
    position: fixed;
    top: 0px;
    z-index: 100;
    right: 20px;
    background-color: white;
}
*/
/*
@media (min-width: 992px) {
    .modal-lg {
        width: 1100px;
    }
}
*/
.center-block {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  max-width: 500px;
  background-color: white;
  box-shadow: 0px 0px 15px #666;
  border-radius: 5px;
}
.list-group .list-group-item-heading {
  margin-bottom: 0px;
}
.list-group .list-group-item {
  margin-top: 10px;
}
.list-group .list-group-item h4 {
  margin-top: 0px;
}
.header {
  padding: 10px;
  padding-left: 20px;
  background-color: #eee;
}
.header h2 {
  margin: 5px;
}
.settings li.heading {
  background-color: #eee;
}
.clickable:hover {
  cursor: pointer;
  background-color: #eee;
}
.disabled {
  background-color: #ccc;
}
span.email {
  color: #666;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}
.table thead tr th {
  vertical-align: top;
}
th.specname {
  text-transform: capitalize;
}
li.test h5 {
  margin-top: 0px;
}
ul.specs,
ul.admins,
ul.hosts {
  padding: 0px;
  list-style: none;
  font-size: 12px;
  margin-bottom: 0px;
}
ul.specs li,
ul.admins li,
ul.hosts li {
  /*border: 1px solid #ccc;*/
  background-color: #f0f0f0;
  padding: 4px 6px;
  display: inline-block;
  margin: 1px 3px;
  /*line-height: 140%;*/
}
.edit_button {
  position: absolute;
  right: 0px;
  top: 0px;
  z-order: 1;
}
.ui-select-match-close {
  color: #222;
}
.ui-select-multiple {
  /*
    > div {
        max-height: 300px;
        overflow-y: auto;
    }
    */
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  margin: 0 2px 1px 0;
}
.ui-select-multiple.ui-select-bootstrap {
  padding: 2px 2px 1px;
}
.ui-select-multiple span.btn-xs {
  padding: 2px;
}
.ui-select-match .btn.btn-default {
  background-color: inherit;
}
.host {
  background-color: #f0f0f0;
  padding: 4px 6px;
  display: inline-block;
  margin: 1px 3px;
}
div.well-detail {
  background-color: #ddd;
  margin-bottom: 0px;
}
.ace_editor {
  height: 100px;
}
.subbar-content {
  margin-left: 350px;
  overflow-x: hidden;
}
.subbar-content .fixed-top {
  left: 450px;
}
.subbar-content .workflow .workflow-item .item-header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.subbar-list-item {
  min-height: 30px;
}
.margin30 {
  margin: 0px 20px;
}
.list-addbutton {
  font-size: 50px;
  position: fixed;
  bottom: 10px;
  left: 350px;
  cursor: pointer;
  color: #999;
  background-color: white;
  border-radius: 25px;
  line-height: 100%;
  transition: 0.2s ease all;
}
.list-addbutton:hover {
  font-size: 70px;
  bottom: 0px;
  left: 340px;
  color: #008cba;
}
.autoconfig {
  position: fixed;
  bottom: 0px;
  width: 350px;
  height: 160px;
  background-color: #eee;
  padding: 5px 15px;
  box-shadow: inset 0px 4px 10px #ccc;
}
@media screen and (max-width: 1000px) {
  .list-addbutton {
    left: 320px;
  }
  .list-addbutton:hover {
    left: 310px;
  }
  /*
    .fixed-top {
        margin-left: 0px;
        position: inherit;
    }
    */
}
.host_filterbox {
  background-color: #eee;
  padding: 5px;
  height: 49px;
  /*box-shadow: inset 0px 0px 2px #ddd;*/
}
.host_filterbox input.active {
  background-color: #d5eff7;
}
/*
.hosts_filter {
    display: inline-block;
    width: 220px;
    padding: 3px 6px;
    margin: 0px 6px;
    border: none;
    border-bottom: 1px solid #ddd;
}
*/
