body {
    font-family: 'Lato', serif;
}

.center-block {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 500px;
    background-color: white;
    box-shadow: 0px 0px 15px #666;
    border-radius: 5px;
}

.logo {
    margin:30px 0px;
    width: 100%;
}


